body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body > div.container {
    min-width: 100% !important;
    max-width: 100% !important;
}

.bottom-navbar-link {
    color: lightgray;
    text-decoration: none;
}

.fixed-bottom {
    box-shadow: 0 -0.125rem 0.25rem rgb(0, 0, 0, 0.075);
}

.bottom-navbar-link {
    font-size: xx-small;
}